# Add any directories, files, or patterns you don't want to be tracked by version control
# Pulled from Microsoft aspnet repositories. May need customisation

/build/bin/
/build/publish/
/build/tools/
/build/template/tools/
/deploy/tools/

.vs/*
output/
output/*

**/AssemblyInfo.cs

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

TestResults/
.nuget/
.build/
.testPublish/
*.sln.ide/
_ReSharper.*/
_ReSharper.*
packages/
artifacts/
PublishProfiles/
.vs/
bower_components/
node_modules/
debugSettings.json
project.lock.json
*.cache
nuget.exe
*net45.csproj
*net451.csproj
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.*sdf
*.ipch
.settings
*.sln.ide
node_modules
*.orig
.refactorlog
.vagrant/
*.dbmdl
/bash.exe.stackdump
/build/tools
output/
/deploy/tools/
/deploy/temp/
*.log
*.zip
.sonarqube/


/Visual Studio 2019/Visualizers
.idea